In [1]:
import pandas as pd

In [63]:
df = pd.read_csv("../../outputs/ropa_clean.csv",index_col=0)
df = df.reset_index(drop=True).drop(columns=['category','prod_category','original'])
df

,talla,age,Altura,Pecho,Cintura,Cadera,Long_pierna,Peso,public
0,13 – 14 años,13.500000,164,84,71,86,76,50.0,Niña&Niño
1,11 – 12 años,11.500000,152,79,68,81,71,40.0,Niña&Niño
2,10 años,10.000000,140,74,65,76,66,31.0,Niña&Niño
3,9 años,9.000000,134,71,63,73,62,27.0,Niña&Niño
4,8 años,8.000000,128,68,61,70,58,24.0,Niña&Niño
5,7 años,7.000000,122,65,59,67,54,22.0,Niña&Niño
6,6 años,6.000000,116,62,57,64,50,20.0,Niña&Niño
7,4 – 5 años,4.500000,110,57,54,59,45,18.0,Bebé
8,3 – 4 años,3.500000,104,56,53,58,41,16.0,Bebé
9,2 – 3 años,2.500000,98,55,52,57,37,14.0,Bebé
10,18 – 24 meses,2.000000,92,53,51,55,33,12.5,Bebé
11,12 – 18 meses,1.500000,86,51,50,53,29,11.0,Bebé
12,9 – 12 meses,1.000000,80,49,49,51,25,9.5,Mini
13,6 – 9 meses,0.750000,74,47,48,49,23,8.0,Mini
14,3 – 6 meses,0.500000,68,45,46,47,18,7.5,Mini
15,1 – 3 meses,0.250000,62,43,44,45,16,6.0,Mini
16,0 – 1 meses,0.083333,56,41,42,43,15,5.0,Mini

In [84]:
updf = df.loc[(df.Altura >= 120) & (df.Pecho >= 66) & (df.Cintura >= 60) & (df.Cadera >= 65)]
updf = newdf.reset_index(drop=True)
uptalla = updf.iloc[len(updf.talla)-1,0]
uptalla

'8 años'

In [86]:
dwdf = df.loc[(df.Altura >= 120) & (df.Cadera >= 65) & (df.Long_pierna >= 70)]
dwdf = dwdf.reset_index(drop=True)
dwtalla = dwdf.iloc[len(dwdf.talla)-1,0]
dwtalla

'11 – 12 años'

In [87]:
measures = {"altura":120,
            "pecho":65.34,
            "cintura":60.12,
            "cadera":64.34,
            "pierna":65
            }

In [94]:
def findUp(df,measures):
    updf = df.loc[(df.Altura >= measures["altura"]) 
                  & (df.Pecho >= measures["pecho"]) 
                  & (df.Cintura >= measures["cintura"]) 
                  & (df.Cadera >= measures["cadera"])]
    updf = newdf.reset_index(drop=True)
    if len(dwdf)==0:
        return None
    else:
        uptalla = updf.iloc[len(updf.talla)-1,0]
        return uptalla

def findDw(df,measures):
    dwdf = df.loc[(df.Altura >= measures["altura"]) 
                  & (df.Cadera >= measures["cadera"]) 
                  & (df.Long_pierna >= measures["pierna"]) ]
    dwdf = dwdf.reset_index(drop=True)
    if len(dwdf)==0:
        return None
    else:
        dwtalla = dwdf.iloc[len(dwdf.talla)-1,0]
        return dwtalla

In [95]:
talla = findUp(df,measures)
talla

'8 años'

In [96]:
talla = findDw(df,measures)
talla

'10 años'

In [97]:
len(measures)

5